<h1>投稿一覧</h1>

<%= form_with(url: posts_path, method: :get, local: true) do %>
  <div>
    <%= label_tag :keyword, "キーワード検索" %>
    <%= text_field_tag :keyword, params[:keyword] %>
    <%= submit_tag '検索' %>
  </div>
<% end %>

<% @posts.each do |post| %>
  <div>
    <h2><%= link_to post.title, post_path(post) %></h2>
    <p><%= truncate(post.content, length: 100) %></p>
    <%= link_to '編集', edit_post_path(post) %> |
    <%= link_to '削除', post_path(post), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } %>
  </div>
<% end %>

<%= link_to '新しい投稿を作成', new_post_path %>
